@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*  {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}
.body,h1,h2,h3,h4 {
	font-family: 'Poppins', sans-serif;
}
.color-bg {
	background: rgba(16, 21, 164, 0.9);
}
.color-text {
	color: rgba(255, 255, 255, 0.8);
} 
.font-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400; 
}
.container-fluid {
	background:
	linear-gradient(rgba(16, 21, 164, 0.9),rgba(16, 21, 164, 0.9)), url('./hero-bg0.jpg');
	color: #fff;
	padding: 4% 20% 4%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 70vh;
}

/* --- Navbar --- */

.navbar {
	padding-left: 0;
	padding-right: 0;
}
.navbar-brand {
	font-weight: 900;
	font-size: 2.2em;
	color: color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
   color: rgba(255, 255, 255, 0.8);
   border: 2px solid rgba(255, 255, 255, 0.8);
   padding-left: 10px;
   padding-right: 10px;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
	padding-left: 1em;
	padding-right: 1em;
}
.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.8);
	background: #161d6f;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: rgba(255, 255, 255, 0.8);
}
.nav-item {
	font-weight: 800;
	font-size: 1.2em;
	text-transform: uppercase;
}
.navbar-light .navbar-toggler {
	color: #fff;
	border-color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* --- Banner --- */
.banner {
	padding-top: 10%;
}
.banner-head {
	font-weight: 900;
	font-size: 3em;
	padding-top: 2em;
}
.banner-tagline {
	font-size: 1.2em;
	font-weight: 400;
	padding-top: 2em;
	padding-bottom: 2em;
}
.btn {
	border-color: #e84e1f;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 255,0.8);
	border-radius:0;
}
.btn-outline-light:hover {
	color: #2a2a2a;
	border-color: rgb(255, 79, 0);
	background-color: rgb(255, 79, 0);
	border-color: rgba(200, 200, 200,0.8);
	background: rgba(200, 200, 200,0.8);
}
.rounded {
	border-radius:2rem !important;
}
/*  ---- Clients ----*/
.customer-logos {
	padding: 1% 20%;
	background:#262626;
}
.slick-slide {
	margin: 0px 20px;
}
.slick-slide img {
	width: 100%;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
/* ---- About ---- */
.about-us {
	padding: 2% 20% 2%;
	background:#fff;
}
.section-header {
	text-align: center;
}
.section-head-line {
	padding-top: 1em;
	padding-bottom: 1em;
}
.section-head-line h3 {
	font-weight: 900;
	font-size: 1.5em;
	text-transform: uppercase;
}
.underline {
	width: 8%;
	height: .3em;
	background-color: rgba(255, 99, 71, 0.8);
	margin: auto;
	border-radius: 3px
}
.about-text {
	font-size: 1.2em;
	font-weight: 600;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #3f3f3f;
}
/* ---- Services ----*/
.services {
	padding: 2% 20%;
	background:#fff;
}
.border-radius-50 {
	border-radius: 50%;
}
.only-icon-80 {
	width: 80px;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
}
.theme-color {
	color: #0050d8;
}
.border-color-dark-gray {
	border-color: #dee2e6;
}
.border-all-1 {
	border: 1px solid #dee2e6;
}
.theme-hover-bg:hover * {
	color: #ffffff;
	background-color: #0050d8;
}
.p-40px-tb {
	padding-top: 40px;
	padding-bottom: 40px;
}
.p-20px-lr {
	padding-left: 20px;
	padding-right: 20px;
}
.text-center {
	text-align: center !important;
}
*,
::after,
::before {
	box-sizing: border-box;
}
.separated>* {
	box-shadow: -1px -1px 0px 0px #dee2e6;
}
[class*="hover-"] {
	-moz-transition: ease-in-out all 0.35s;
	-o-transition: ease-in-out all 0.35s;
	-webkit-transition: ease-in-out all 0.35s;
	transition: ease-in-out all 0.5s;
}
.white-bg {
	background-color: #fff;
}
/* ---- Features ----- */
.features {
	width: 100%;
	padding: 2% 20%;
}
.feature-items {
	padding-top: 4em;
}
.feature {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 2em;
	margin-left: 20px;
	margin-bottom: 1.5em;
	border-top: .5em solid rgba(255, 79, 0,0.5);
}
.feature_heading {
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 800;
}
.feature-desc {
	font-weight: 400;
	font-size: 1.2em;
}
.icon {
	color: #0050D8;
}
/*--- TESTIMONIALS ---*/
#testimonials {
	padding: 2% 20% 6%;
	background:#FFF;
}
.clientlist {
	padding-top: 4%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 1rem;
}
.clogo {
	background-color: #fff;
}
.clogo img {
	display: block;
	max-width: 100%;
}
/*---- CAROUSEL ----*/
.bg-info {
	font-family: 'Lato', sans-serif;
	padding-top: 4%;
	background-color: #FFF !important;
}
.carousel-inner .carousel-item .img-box {
	width: 135px;
	height: 135px;
}
.carousel-control-prev {
	left: -100px;
}
.carousel-control-next {
	right: -100px;
}
.carousel-indicators {
	top: 320px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
@media (min-width: 320px) and (max-width: 640px) {
	.carousel-inner .carousel-item p {
		font-size: 14px;
	}
	.carousel-control-prev {
		left: -40px;
	}
	.carousel-control-next {
		right: -40px;
	}
	.carousel-indicators {
		top: 400px;
	}
}


/*---- FOOTER -----*/

footer {
	padding:2%;
	min-height:40vh;
	background:#161D6F;
}
.address {
	padding-left:18%;
	padding-bottom:2em;
}
.contact-head {
	font-weight:900;
}
.button-send {
	border:none;
}
.social-list {
	display:inline;
	text-decoration: none;
	list-style: none;
	float
}
.social-list li {
	display:inline;
	padding-right: .75em;
}
.social-list li a:hover {
	color:white;
}
.copyright {
	font-size:1em; 
	color:rgba(255, 255, 255, 0.8);
	text-align: center;
}

/*On screen less than 992px toggler will be active
 Media queries should always be at the end else
 the one comes last will be applied last during
 rendering according to CSS rules*/
@media screen and (max-width:992px) {
	.container-fluid,
	.about-us,
	.customer-logos {
		padding-left: 7%;
		padding-right: 7%;
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		color:rgba(255, 255, 255, 0.8);
		background: #161d6f;
		border-bottom: 3px solid transparent;
	}
	.navbar-light .navbar-nav .nav-link:hover,
	.navbar-light .navbar-nav .nav-link:focus {
		color: rgba(255, 99, 71, 0.8);
		color:rgba(255, 255, 255, 0.8);
		background: #153e90;
		/*border-bottom: 3px solid transparent;*/
	}
	.underline {
		width: 4em;
	}
}